<br>

<div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-inner">
        <div class="carousel-item active">
            <div class="carousel-caption d-none d-md-block" style="position: absolute; top: 0; left: 0; right: 0;">
                <h1 class="bold-title" style="color: black;">"Assurez votre projet en toute confiance en étant chez ASC Banque"</h1>
            </div>
            <img src="assets/couple.jpg" class="d-block w-100" alt="...">
        </div>
        <div class="carousel-item">
            <div class="carousel-caption d-none d-md-block" style="position: absolute; top: 0; left: 0; right: 0;">
                <h1 class="bold-title" style=" color: white; ">"Concrétisez vos rêves immobiliers avec ASC à vos côtés "</h1>
            </div>
            <img src="assets/parents.jpg " class="d-block w-100 " alt="... ">
        </div>
        <div class="carousel-item ">
            <div class="carousel-caption d-none d-md-block " style="position: absolute; top: 0; left: 0; right: 0; ">
                <h1 class="bold-title" style="color: black; ">"Construisez un avenir radieux pour vos enfants : épargnez en toute confiance "</h1>
            </div>
            <img src="assets/famille.jpg " class="d-block w-100 " alt="... ">
        </div>
    </div>
    <a class="carousel-control-prev " type="button " data-bs-target="#carouselExampleControls " data-bs-slide="prev ">
        <span class="carousel-control-prev-icon " aria-hidden="true "></span>
        <span class="visually-hidden ">Previous</span>
    </a>
    <a class="carousel-control-next " type="button " data-bs-target="#carouselExampleControls " data-bs-slide="next ">
        <span class="carousel-control-next-icon " aria-hidden="true "></span>
        <span class="visually-hidden ">Next</span>
    </a>
</div>