<div class="container">
    <h1 style="text-align: center">Virement</h1>


    <mat-form-field>
      <mat-label>Selectionner le compte</mat-label>
      <mat-select [(ngModel)]="compteSource">
        <mat-option *ngFor="let compte of listeCompte" [value]="compte.id">{{ compte.libelle }}</mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field>
      <mat-label>Selectionner le compte</mat-label>
      <mat-select [(ngModel)]="compteDest">
        <mat-option *ngFor="let compte of listeCompte" [value]="compte.id">{{ compte.libelle }}</mat-option>
      </mat-select>
    </mat-form-field>
   
      <mat-form-field>
        <input
          matInput
          id="montant"
          [(ngModel)]="montantVirement"
          name="unMontant"
          required
          class="example-left-align"
          placeholder="le montant"
        />
      </mat-form-field>
    <button (click)="getLastOperation()" mat-raised-button color="primary">
      valider
    </button>
  </div>