<br>
<br>
<br>
<br>
<h1 style="text-align: center;">Effectuez votre transaction en toute sérénité</h1>
<br>


<div class="container">
  <div class="d-flex justify-content-center pt-3">
    
  </div>
  <div class="d-flex align-items-baseline justify-content-center mx-4 mb mb-lg-4">
    <div class="col-md-6">
      <div class="bg-white p-4 h-100 shadow">
        <div class="p-3 d-flex justify-content-center flex-column">
          <span class="registerTop text-center"
            ><h1 style="text-align: center">Virement</h1></span
          >
          <div
            class="d-flex align-items-baseline justify-content-center mx-4 mb mb-lg-4"
          >
            <div class="form-outline flex-fill mb-0">
              <select [(ngModel)]="compteSource" class="form-select">
                <option *ngFor="let compte of listeCompte" [value]="compte.id">
                  {{ compte.libelle }}
                </option>
              </select>
            </div>
          </div>
          <div
            class="d-flex align-items-baseline justify-content-center mx-4 mb mb-lg-4"
          >
            <div class="form-outline flex-fill mb-0">
              <select [(ngModel)]="compteDest" class="form-select">
                <option *ngFor="let compte of listeCompte" [value]="compte.id">
                  {{ compte.libelle }}
                </option>
              </select>
            </div>
          </div>

          <div
            class="d-flex align-items-baseline justify-content-center mx-4 mb mb-lg-4"
            style="width: 280px"
          >
            <div class="form-outline flex-fill mb-0">
              <input
                id="montant"
                [(ngModel)]="montantVirement"
                name="unMontant"
                class="form-control mt-2"
                placeholder="Indiquez le montant"
                required
              />
            </div>
          </div>
        </div>

        <input type="hidden" name="_csrf_token" value="" />

        <div class="checkbox mb-3">
          <label> </label>
        </div>

        <div
          class="d-flex align-items-baseline justify-content-center mx-4 mb mb-lg-4"
        >
          <button class="btn btn-outline-primary btn-block" type="submit" (click)="getLastOperation()">
            Valider
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
<br>