<div class="container">
    <h1 style="text-align: center">Virement</h1>


    <mat-form-field>
      <mat-label>Select</mat-label>
      <mat-select [formControl]="selectedCompteControl">
        <mat-option *ngFor="let compte of listeCompte" [value]="compte.libelle">{{ compte.libelle }}</mat-option>
      </mat-select>
    </mat-form-field>


   

    <mat-form-field>
        <input
          matInput
          id="id compte destinataire"
          [(ngModel)]="compteDest"
          name="unCompteIdDst"
          required
          class="example-left-align"
          placeholder="id compte destinataire"
        />
      </mat-form-field>
      <mat-form-field>
        <input
          matInput
          id="montant"
          [(ngModel)]="montantVirement"
          name="unMontant"
          required
          class="example-left-align"
          placeholder="le montant"
        />
      </mat-form-field>
    <button (click)="getLastOperation()" mat-raised-button color="primary">
      valider
    </button>
  </div>