<div class="container">
  <div class="d-flex justify-content-center pt-3">
    <h1>Heureux de vous revoir !</h1>
  </div>
  <div class="row mt-3 g-0 mb-5 height-120">
    <div class="col-md-6">
      <div class="h-100 shadow">
        <img style="height: 100%" src="assets/phone.webp" />
      </div>
    </div>
    <div class="col-md-6">
      <div class="bg-white p-4 h-100 shadow">
        <div
          class="p-3 d-flex justify-content-center flex-column"
        >
          <span class="registerTop text-center"><h2>Connexion</h2></span>
          <div class="d-flex flex-row align-items-center mb-4">
            <i class="fas fa-envelope fa-lg me-3 fa-fw"></i>
            <div class="form-outline flex-fill mb-0">
              <input
                type="text"
                class="form-control mt-2"
                id="unLogin"
                [(ngModel)]="login.unLogin"
                name="unLogin"
                required
                placeholder="Veuillez entrer votre identifant"
              />
            </div>
          </div>

          <div class="d-flex flex-row align-items-center mb-4">
            <i class="fas fa-lock fa-lg me-3 fa-fw"></i>
            <div class="form-outline flex-fill mb-0">
              <input
                id="unMdp"
                [(ngModel)]="login.unMdp"
                name="unMdp"
                type="password"
                name="password"
                class="form-control mt-2"
                autocomplete="current-password"
                placeholder="Veuillez entrer votre mot de passe"
              />
            </div>
          </div>
        </div>

        <div
          class="d-flex align-items-baseline justify-content-center mx-4 mb mb-lg-4"
        >
          <button
            class="btn btn-outline-primary btn-block"
            type="submit"
            (click)="getlogin()"
          >
            Se connecter
          </button>
        </div>
      </div>
    </div>
  </div>
</div>