
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>

<div class="container">
  <div class="d-flex align-items-baseline justify-content-center mx-4 mb mb-lg-4">
<mat-form-field>
    <mat-label>Saisissez une plage de dates</mat-label>
    <mat-date-range-input [rangePicker]="picker">
      <input matStartDate placeholder="Start date" (change)="startDateFunc()">
      <input matEndDate placeholder="End date" (change)="endDateFunc()">
    </mat-date-range-input>
    <mat-hint>{{startDate}} – {{endDate}}</mat-hint>
    <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
    <mat-date-range-picker #picker></mat-date-range-picker>
</mat-form-field>
</div>

<div class="d-flex align-items-baseline justify-content-center mx-4 mb mb-lg-4">
<input type="checkbox" (change)="onDebit()"> 
<label> Debit </label>
</div>
<div class="d-flex align-items-baseline justify-content-center mx-4 mb mb-lg-4">
  <input type="checkbox" (change)="onCredit()"> 
  <label> Credit</label>
  </div>

  <div class="col d-flex justify-content-end">
  <button type="button" class="btn btn-primary me-md-2" style="width: 10rem;" (click)="actualiserRecherche()"> Check </button>
</div>


  <table class="table table-striped">
    <thead>
      <tr>
        <th scope="col" style="text-align: center;">Date</th>
        <th scope="col" style="text-align: center;">Libellé</th>
        <th scope="col" style="text-align: center;">Montant</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let details of detail">
        <td>{{details.date}}</td>
        <td>{{details.libelle}}</td>
        <td>{{details.montant}}</td>
      </tr>
    </tbody>
  </table>

</div>